{% extends "base.html" %} {% block title %}Contact | AI Steganography{% endblock
%} {% block content %}
<div class="page-wrapper">
  <div class="app-container contact-app-container">
    <div class="contact-container reveal contact-container-box">
      <h1 class="contact-title-text">
        Contact <span style="color: var(--neon)">Our Team</span>
      </h1>
      <p class="contact-subtitle">
        Meet the cybersecurity experts behind the system.
      </p>
      <div class="contact-divider"></div>

      <div class="contact-grid contact-grid-layout">
        <div class="contact-card large-pad">
          <h3>Sanket Kolhe</h3>
          <p><strong>Mobile:</strong> 8623847277</p>
          <p><strong>Email:</strong> sanketkolhe7277@gmail.com</p>
        </div>

        <div class="contact-card large-pad">
          <h3>Shubhada Kanade</h3>
          <p><strong>Mobile:</strong> 8530780119</p>
          <p><strong>Email:</strong> shubhadakanade123@gmail.com</p>
        </div>

        <div class="contact-card large-pad">
          <h3>Yogendra Bhagwat</h3>
          <p><strong>Mobile:</strong> 9322508069</p>
          <p><strong>Email:</strong> yogendrabhagwat009@gmail.com</p>
        </div>

        <div class="contact-card large-pad">
          <h3>Chaitrali Kawade</h3>
          <p><strong>Mobile:</strong> 8010244882</p>
          <p><strong>Email:</strong> chaitralikawade123@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
